.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
@font-face {
	font-family: "Gotham Pro Light";
	src:url(../fonts/GothamPro-Light.woff);
}
@font-face {
	font-family: "Gotham Pro ";
	src:url(../fonts/GothamPro-Bold.woff);
}

.header	{
  background-color:#27273e;
}
.conteiner    {
  width: 1100px;
  margin: 0 auto;
}


.header__left {
	float: left;
	padding-bottom: 13px;
	padding-top: 12px;
}
.logo {
	margin-left: 19px;
	margin-top: 12px;

}
.header__right {
	float: right;
	padding-top: 21px;
}
.content	{

}
.main__content	{
	float: right;	
	width: 880px;
}
.contacts__phone {
	font-size: 21px;
	font-weight: bold;
	color: #fff;
	text-decoration: none;
}
.contacts__desk {
	color:#769ccd;
	text-align: right;
}

.nav__sidebar {
	float: left;
	margin-top: 25px;
}
.sidebar__link {
	text-decoration: none;
}
.sidebar__list	{
	list-style: none;
	padding-left: 20px;
}
.sidebar__item {
	margin-bottom: 20px;
}
.sidebar__icon {
	width: 17px;
	height: 15px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 15px;
}
.sidebar__icon-main {
	background: url(../img/icons/main.png) no-repeat;
	width: 17px;
	height: 15px; 
}
.sidebar__icon-wallet {
	background: url(../img/icons/team.png);
	width: 19px;
	height: 16px;
}
.sidebar__icon-star {
	background: url(../img/icons/reviews.png);
	width: 21px;
	height: 19px;
}

.sidebar__text {
	display: inline-block;
	vertical-align: middle;
	width: 68px;
	height: 9px;
	color: #221f1f;
	font-family: "Gotham Pro Light";
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;

}
.sidebar__link:hover 	.sidebar__text {
	color: #ec1e79;
}
.sidebar__link-main:hover 	.sidebar__icon {
	background: url(../img/icons/main_hover.png);
	width: 17px;
	height: 15px;
}
.sidebar__link-wallet:hover 	.sidebar__icon {
	background: url(../img/icons/team_hover.png);
	width: 19px;
	height: 16px;
}
.sidebar__link-star:hover 	.sidebar__icon {
	background: url(../img/icons/reviews_hover.png);
	width: 21px;
	height: 19px;
}
body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans";
}
.desc__list li {
	color: #ec1e79;
}
.desc__item-text {
	color:#221f1f;
	line-height: 1.5;
}
.text__centre {
	color: black;
	font-family: "Gotham Pro Light";
	position: relative;

}
.main__content {
}

.desc__image	{
	background-repeat: no-repeat;
	position: relative;
}
.desc__text	{
	position: absolute;
	top: 160px;
	left: 67px;
	color: #fff;
	font-size: 50px;
	font-weight: 700;
	font-hight: 38px;
}
.desc__info	{
	font-family: "Gotham Pro Light";
	float: left;
	font-size: 18px;
	width: 700px;
}
.desc__top-text {
	width: 700px;
	line-height: 1.5;
}
.desc__list	{
	margin: 0px;
	
}
.desc__item {
	padding-bottom: 10px;
}
.botom__item {
	margin: 0px;
	width: 700px;
	line-height: 1.5;
}
.bottom__bgr {
	background: #27273e;
	float: left;
	width: 700px;
	height: 112px;
	margin-top: 26px;
}
.bottom__text	{
	font-family: "Gotham Pro Light";
	font-size: 18px;
	color: #fff;
	padding-left: 30px;
	margin-top: 20px;
	line-height: 1.5;
}
